.container{
        text-align: center;
        background-image:url("/src/assets/Rectangle2.svg");
        background-size: cover;
        background-repeat:no-repeat;
        background-position:center;
        height:480px; 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 63px;
        font-family: "Montserrat", sans-serif;
}
.text{
    color: aliceblue;
    font-size: 78.6px;
}
.text, .banner_description {
    display: block;
    margin-bottom: 32px; /* Задайте нужный отступ между текстовыми блоками */
  }
.banner_description{
    color: aliceblue;
    font-size: 21.33px;
}
.about_us_container{
    display: flex;
    justify-content: space-between;
    padding-right: 12%;
    padding-left: 12%;
}
.img_car{
    height: 500px;
    width: 500px;
}
.container_about{
    display: flex;
}
.about_us{
    font-size: 66.8px;
    font-family: "Montserrat", sans-serif;
}
.description_paragraph{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.tabl{
    margin-left:10%;
    width: 1250px;
    margin-right: 10%;
    height: 260px;
}

 /*мобилка*/
 @media only screen and (max-width: 650px) {
    .img_car{
        display: none;
    }
    .text{
        font-size: 40px;
    }
    .about_us{
        font-size: 30px;
    }
    .description_paragraph{
        font-size: 10px;
    }
    .line_0f_three{
        height: 40px;
        width: 40px;
    }
    .banner_description{
        font-size: 11px;
    }
}

/*планшет*/
@media only screen and (min-width: 650px)  and (max-width: 1080px) {
    .description_paragraph{
        font-size: 20px;
    }
    .about_us{
        font-size: 40px;
    }
    .img_car{
        width: 380px;
        height: 480px;
    }
}
